/* align-items-baseline.css */
#contenedor {
    display: flex;
    /* si queremo que sea vertical tenemos que decir */
    /* disposicion por defecto en una fila */

    /* las dos prpopiedades anteriores en una */
    flex-flow: row wrap;

    justify-content: center;
    /* justify-content: end;
    justify-content: start; */

    /* el espacio va a estar alrededor de la caja */
    /* justify-content: space-around; */

    /* dejar un espacio entre de las cajas */
    /* justify-content: space-between; */

    /* para alinear elementos de forma vertical */
    align-items: center;
    /* align-items:flex-end; */
    /* align-items:flex-start; */

    /* intentar ocupar todo el espacio dispomnible a lo alto de la caja*/
    /* align-items:stretch; */

    /* las demas cajas se alinean y esta caja a su bola */
    align-items: baseline;


    align-items: flex-start;

    /* alinea cajas hacia el centro del contnedor */
    align-content: center;
    /* hacia abajo las cajas */
    /* align-content: flex-end; */
    /* hacia arriba las cajas */
    /* align-content: flex-start; */

    /* Esta propiedad alinea los elementos dentro del contenedor verticalmente. */
    align-content: stretch;

    /* Esta propiedad distribuye uniformemente los elementos con espacio entre ellos, dejando espacio en blanco en los extremos. */
    align-content: space-between;

    /* Esta propiedad distribuye uniformemente los elementos con espacio alrededor de ellos, dejando espacio en blanco en ambos extremos y entre los elementos. */
    align-content: space-around;



    /* height: 100px; */

    padding: 5px;
    border: 2px solid black;
    background-color: khaki;
    height: 500px;
}

.hijo {

    background-color: #3498db;

    font-size: 24px;
    margin: 10px;
    line-height: 75px;
    text-align: center;
    border: 3px solid black;
    width: 150px;
}