.grid-container {
    display: grid;
    background-color: cornsilk;
    grid-template-columns: auto auto auto;
}

.grid-container div {
    background-color: crimson;
    text-align: center;
    color: while;
    border:1p solid black;
}
