.grid-container {
    display: grid;
    background-color: cornsilk;
    /* 3columnas */
    grid-template-columns: 30px auto 50px;
}

.grid-container div {
    background-color: crimson;
    text-align: center;
    color: while;
    border:1px solid black;
}
